---
import Carrousel from '../components/Carrousel'
import LargeArticle from '../components/LargeArticle.astro'
import SplitArticle from '../components/SplitArticle.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout pageTitle='Código de Vestuario'>
  <SplitArticle id='dress-code-men' variant='fit'>
    <section class='max-w-1/2' slot='left'>
      <h2 class='text-4xl mb-4'>Para ellos</h2>
      <p class='text-justify'>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore
        consequuntur deserunt porro, optio doloremque voluptas omnis ipsum
        maxime ipsam repellat cupiditate dolor aut, recusandae dignissimos dicta
        unde perferendis quam! Necessitatibus. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Sit voluptatum at sequi? Vero quibusdam
        suscipit autem molestias blanditiis praesentium natus nisi. Libero velit
        numquam ratione non aliquam recusandae, fugit cupiditate. Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Tempore consequuntur
        deserunt porro, optio doloremque voluptas omnis ipsum maxime ipsam
        repellat cupiditate dolor aut, recusandae dignissimos dicta unde
        perferendis quam! Necessitatibus.
      </p>
    </section>
    <section slot='right'>
      <img
        src='/assets/about-us-image.png'
        alt='Nuestra Historia - Andrés y Valentina'
        class='w-full h-full rounded-sm shadow-sm'
      />
    </section>
  </SplitArticle>
  <SplitArticle id='dress-code-women' variant='fit'>
    <section class='max-w-1/2' slot='right'>
      <h2 class='text-4xl mb-4'>Para ellas</h2>
      <p class='text-justify'>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore
        consequuntur deserunt porro, optio doloremque voluptas omnis ipsum
        maxime ipsam repellat cupiditate dolor aut, recusandae dignissimos dicta
        unde perferendis quam! Necessitatibus. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Sit voluptatum at sequi? Vero quibusdam
        suscipit autem molestias blanditiis praesentium natus nisi. Libero velit
        numquam ratione non aliquam recusandae, fugit cupiditate. Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Tempore consequuntur
        deserunt porro, optio doloremque voluptas omnis ipsum maxime ipsam
        repellat cupiditate dolor aut, recusandae dignissimos dicta unde
        perferendis quam! Necessitatibus.
      </p>
    </section>
    <section slot='left'>
      <img
        src='/assets/about-us-image.png'
        alt='Nuestra Historia - Andrés y Valentina'
        class='w-full h-full rounded-sm shadow-sm'
      />
    </section>
  </SplitArticle>
</BaseLayout>
