---
import SplitArticle from '../components/SplitArticle.astro'
import Button from '../components/ui/Button'
import Photo from '../components/ui/Photo.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout pageTitle='Código de Vestuario'>
  <SplitArticle id='dress-code-men' variant='fit'>
    <section
      class='w-full lg:max-w-1/2 flex flex-col justify-center'
      slot='left'
    >
      <h2 class='text-3xl lg:text-4xl mb-4'>Hombres</h2>
      <h3 class='text-xl lg:text-2xl mb-2'>Recomendamos</h3>
      <p class='text-justify mb-4'>
        El código de vestuario para caballeros es elegante–formal. Son
        bienvenidos los trajes completos, smoking, gabanes y camisas formales,
        acompañados de calzado clásico. Recomendamos llevar abrigos en caso de
        que haga frío.
      </p>
      <h3 class='text-xl lg:text-2xl mb-2'>No permitimos</h3>
      <p class='text-justify mb-4'>
        Para mantener la armonía del evento, no se permite el uso de camisetas,
        sudaderas, chaquetas informales, buzos, jeans, pantalones rotos o
        desgastados, bermudas, chanclas ni ropa casual en general.
      </p>
    </section>
    <section slot='right' class='flex flex-col items-center justify-center'>
      <img
        src='/assets/event-details/men-dresscode.png'
        alt='Código de vestuario hombres'
        class='lg:h-full object-cover'
      />
      <Button
        label='Más ideas aquí'
        route='https://pin.it/3iX3TWIUW'
        className='mt-8'
        target='_blank'
      />
    </section>
  </SplitArticle>
  <SplitArticle id='dress-code-women' variant='fit'>
    <section
      class='w-full lg:max-w-1/2 flex flex-col justify-center'
      slot='right'
    >
      <h2 class='text-3xl lg:text-4xl mb-4'>Mujeres</h2>
      <h3 class='text-xl lg:text-2xl mb-2'>Recomendamos</h3>
      <p class='text-justify mb-4'>
        El código de vestuario para damas debe mantener un equilibrio entre
        formalidad y comodidad. Se sugieren vestidos largos, trajes y otras
        prendas elegantes, respetando los colores reservados. Recomendamos
        llevar abrigos en caso de que haga frío.
      </p>
      <h3 class='text-xl lg:text-2xl mb-2'>No permitimos</h3>
      <p class='text-justify mb-4'>
        Para conservar el estilo del evento, se recomienda evitar prendas
        deportivas, demasiado informales, muy casuales o excesivamente
        llamativas.
      </p>
    </section>
    <section
      slot='right'
      class='flex lg:hidden flex-col items-center justify-center'
    >
      <img
        src='/assets/event-details/women-dresscode.png'
        alt='Código de vestuario mujeres'
        class='h-full object-cover'
      />
      <Button
        label='Más ideas aquí'
        route='https://pin.it/4ztf5vhF5'
        className='mt-8'
        target='_blank'
      />
    </section>
    <section
      slot='left'
      class='hidden lg:flex flex-col items-center justify-center'
    >
      <img
        src='/assets/event-details/women-dresscode.png'
        alt='Código de vestuario mujeres'
        class='h-full object-cover'
      />
      <Button
        label='Más ideas aquí'
        route='https://pin.it/4ztf5vhF5'
        className='mt-8'
        target='_blank'
      />
    </section>
  </SplitArticle>
</BaseLayout>
