---
import Carrousel from '../components/Carrousel'
import LargeArticle from '../components/LargeArticle.astro'
import SplitArticle from '../components/SplitArticle.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout pageTitle='Código de Vestuario'>
  <SplitArticle id='dress-code-men' variant='fit'>
    <section class='w-full lg:max-w-1/2' slot='left'>
      <h2 class='text-3xl lg:text-4xl mb-4'>Para ellos</h2>
      <img
        src='/assets/about-us-image.png'
        alt='Nuestra Historia - Andrés y Valentina'
        class='w-full h-full rounded-sm shadow-sm block lg:hidden mb-4'
      />
      <p class='text-justify'>
        El código de vestuario para caballeros es elegante–formal, pensado para
        una celebración especial pero conservando la comodidad de todos nuestros
        invitados. Son bienvenidos los trajes completos, smoking, gabanes y
        camisas formales, acompañados de calzado clásico. Para mantener la
        armonía del evento, no se permite el uso de camisetas, sudaderas,
        chaquetas informales, buzos, jeans, pantalones rotos o desgastados,
        bermudas, chanclas ni ropa casual en general. La intención es lograr una
        imagen sobria, cuidada y acorde con la estética de nuestra boda.
      </p>
    </section>
    <section slot='right' class="lg:block hidden">
      <img
        src='/assets/about-us-image.png'
        alt='Nuestra Historia - Andrés y Valentina'
        class='w-full h-full rounded-sm shadow-sm'
      />
    </section>
  </SplitArticle>
  <SplitArticle id='dress-code-women' variant='fit'>
    <section class='w-full lg:max-w-1/2' slot='right'>
      <h2 class='text-3xl lg:text-4xl mb-4'>Para ellas</h2>
       <img
        src='/assets/about-us-image.png'
        alt='Nuestra Historia - Andrés y Valentina'
        class='w-full h-full rounded-sm shadow-sm block lg:hidden mb-4'
      />
      <p class='text-justify'>
        El código de vestuario para damas es elegante y sofisticado, manteniendo
        un equilibrio entre formalidad y comodidad. Se sugieren vestidos largos
        o midi, conjuntos formales y prendas confeccionadas en telas finas, con
        cortes delicados y colores sobrios o neutros. Para conservar el estilo
        del evento, se recomienda evitar prendas deportivas, demasiado
        informales, muy casuales o excesivamente llamativas. Queremos que te
        sientas cómoda, hermosa y en sintonía con la atmósfera elegante y
        especial de nuestra celebración.
      </p>
    </section>
    <section slot='left' class="lg:block hidden">
      <img
        src='/assets/about-us-image.png'
        alt='Nuestra Historia - Andrés y Valentina'
        class='w-full h-full rounded-sm shadow-sm'
      />
    </section>
  </SplitArticle>
</BaseLayout>
