---
import MainLayout from '../layouts/MainLayout.astro'
import EventDetails from '../components/EventDetails.astro'
import SplitArticle from '../components/SplitArticle.astro'
import LargeArticle from '../components/LargeArticle.astro'
import Button from '../components/ui/Button'
import Carrousel from '../components/Carrousel'
import Countdown from '../components/Countdown'
import Banner from '../components/Banner.astro'
import StyledDate from '../components/StyledDate.astro'
import ColorDots from '../components/ColorDots.astro'
---

<MainLayout>
  <Banner />
  <SplitArticle id='our-story'>
    <div class='flex flex-col gap-8 w-full lg:w-1/2' slot='left'>
      <h2 class='text-4xl lg:text-5xl'>Nuestra Historia</h2>
      <img
        src='/assets/about-us-image.png'
        alt='Nuestra Historia - Andrés y Valentina'
        class='h-full rounded-sm shadow-sm lg:hidden'
        style='object-fit: cover;'
      />
      <p class='text-justify leading-6'>
        Hace siete años, nuestros corazones se encontraron y, sin saberlo,
        comenzó la más hermosa de las aventuras. Desde entonces, hemos
        compartido risas, sueños, viajes y mil pequeñas historias que nos
        unieron cada día más. Entre momentos simples y memorables, aprendimos
        que el amor se construye con paciencia, complicidad y ternura. Hoy,
        mirando atrás, vemos un recorrido lleno de bendiciones y promesas
        cumplidas. Cada paso nos ha llevado hasta este instante, donde decimos
        “sí” al proposito de Dios para nosotros. Esta historia está escrita con
        cariño, detalles y destino.
      </p>
      <Button client:only label='Conoce más' route='/our-story' />
    </div>
    <div class='hidden justify-center items-center lg:flex lg:w-1/2' slot='right'>
      <img
        src='/assets/about-us-image.png'
        alt='Nuestra Historia - Andrés y Valentina'
        class='h-full rounded-sm shadow-sm'
        style='object-fit: cover;'
      />
    </div>
  </SplitArticle>
  <LargeArticle id='countdown' theme='secondary'>
    <section slot='title' class='flex flex-col items-center gap-4 mb-6 max-lg:mt-15'>
      <StyledDate
        dayOfWeek='Sábado'
        month='Jun'
        day='27'
        year='2026'
        time='5:00 pm'
      />
      <h2 class=' text-2xl lg:text-3xl'>Nos vemos en el altar</h2>
    </section>
    <Countdown client:only slot='content' targetDate='2026-06-27T17:00:00' />
  </LargeArticle>
  <EventDetails />
  <LargeArticle id='dress-code' theme='secondary'>
    <section slot='title' class=" max-lg:mt-15">
      <div class='flex flex-col items-center gap-2'>
        <h3 class='text-3xl lg:text-4xl'>Código de vestuario</h3>
        <h4 class='text-2xl'>Elegante</h4>
      </div>
    </section>
    <section slot='content' class=" max-lg:mb-15">
      <div class='flex flex-col items-center gap-4'>
        <p class='text-center text-md'>Colores reservados</p>
        <div class='grid grid-cols-3 gap-2'>
          <ColorDots color='--reserved-color1' label='Café claro' />
          <ColorDots color='--reserved-color2' label='Beige' />
          <ColorDots color='--color-accent' label='Blanco' />
        </div>
        <Button
          client:only
          variant='secondary'
          label='Ver detalles'
          route='/dress-code'
        />
      </div>
    </section>
  </LargeArticle>

  <SplitArticle id='event-rules'>
    <section class='w-1/2 hidden lg:flex justify-center items-center' slot='left'>
      <img
        src='/assets/event-rules-image.png'
        alt='Event Rules Image'
        class='w-full h-full rounded-sm shadow-sm'
      />
    </section>
    <section class='w-full lg:w-1/2 flex flex-col gap-8' slot='right'>
      <h2 class='text-5xl'>Detalles importantes</h2>
        <img
        src='/assets/event-rules-image.png'
        alt='Event Rules Image'
        class='w-full h-full rounded-sm shadow-sm block lg:hidden'
      />
      <ul class='list-disc list-inside lg:text-justify leading-7 lg:leading-10'>
        <li>Respetar el código de vestuario, colores reservados.</li>
        <li>Llegar a tiempo, 15 min como minimo.</li>
        <li>No traer alimentos ni bebidas.</li>
        <li>
          Confirma tu asistencia, solo para ti, antes de la fecha indicada.
        </li>
        <li>No cambiar lugares ni asientos el día del evento.</li>
        <li>Regalos: <b>Lluvia de sobres.</b></li>
      </ul>
    </section>
  </SplitArticle>

  <SplitArticle id='contact-us' theme='secondary'>
    <section class='w-full lg:w-1/2' slot='left'>
      <div class='flex flex-col gap-4 lg:mt-16'>
        <h2 class='text-5xl'>Contáctanos</h2>
        <p class='leading-6'>
          Queremos que disfrutes este día especial tanto como nosotros.<br /> Si necesitas
          más detalles o tienes alguna inquietud, Escribenos.
        </p>
        <div class='flex gap-4'>
          <Button
            label='Escribir a Andrés'
            route='https://wa.me/3168219263'
            variant='secondary'
          />
          <Button
            label='Escribir a Valen'
            route='https://wa.me/3053237712'
            variant='secondary'
          />
        </div>
      </div>
    </section>
    <section class='w-full lg:w-1/2 hidden lg:block' slot='right'>
      <img
        src='/assets/about-us-image.png'
        alt='Nuestra Historia - Andrés y Valentina'
        class='h-full rounded-sm shadow-sm'
        style='object-fit: cover;'
      />
    </section>
  </SplitArticle>
</MainLayout>

<style>
  #gifts {
    background-color: var(--color-primary);
    color: var(--color-accent);
  }
</style>
