---
import MainLayout from '../layouts/MainLayout.astro'
import EventDetails from '../components/EventDetails.astro'
import SplitArticle from '../components/SplitArticle.astro'
import LargeArticle from '../components/LargeArticle.astro'
import Button from '../components/ui/Button'
import Countdown from '../components/Countdown'
import Banner from '../components/Banner.astro'
import StyledDate from '../components/StyledDate.astro'
import ColorDots from '../components/ColorDots.astro'
import Photo from '../components/ui/Photo.astro'
---

<MainLayout>
  <Banner />
  <SplitArticle id='our-story'>
    <div class='flex flex-col gap-8 w-full lg:w-1/2' slot='left'>
      <h2 class='text-4xl lg:text-5xl'>Nuestra Historia</h2>
      <div
        class='lg:hidden justify-center items-center h-[350px] flex lg:w-1/2 gap-2'
        slot='right'
      >
        <Photo
          src='/assets/home/christmas-2.png'
          alt='Nuestra Historia - Andrés y Valentina'
          class='h-full max-sm:hidden block'
        />
        <Photo
          src='/assets/home/christmas-3.png'
          alt='Nuestra Historia - Andrés y Valentina'
          class='h-full'
        />
      </div>

      <p class='text-justify leading-6'>
        Hace siete años, nuestros corazones se encontraron y, sin saberlo,
        comenzó la más hermosa de las aventuras. Desde entonces, hemos
        compartido risas, sueños, viajes y mil pequeñas historias que nos
        unieron cada día más. Entre momentos simples y memorables, aprendimos
        que el amor se construye con paciencia, complicidad y ternura. Hoy,
        mirando atrás, vemos un recorrido lleno de bendiciones y promesas
        cumplidas. Cada paso nos ha llevado hasta este instante, donde decimos
        “sí” al proposito de Dios para nosotros.
      </p>
      <Button client:only label='Conoce más' route='/our-story' />
    </div>
    <div
      class='hidden justify-center items-center h-[350px] lg:flex lg:w-1/2 gap-2'
      slot='right'
    >
      <Photo
        src='/assets/home/christmas-2.png'
        alt='Nuestra Historia - Andrés y Valentina'
        class='md:hidden xl:block h-full'
      />
      <Photo
        src='/assets/home/christmas-3.png'
        alt='Nuestra Historia - Andrés y Valentina'
        class='h-full'
      />
    </div>
  </SplitArticle>
  <LargeArticle id='countdown' theme='secondary'>
    <section slot='title' class='flex flex-col items-center gap-4 mb-6 mt-15'>
      <StyledDate
        dayOfWeek='Sábado'
        month='Jun'
        day='27'
        year='2026'
        time='5:00 pm'
      />
      <h2 class='text-2xl lg:text-3xl'>¡Nos vemos en el altar!</h2>
    </section>
    <Countdown client:only slot='content' targetDate='2026-06-27T17:00:00' />
  </LargeArticle>
  <EventDetails />
  <LargeArticle id='dress-code' theme='secondary'>
    <section slot='title' class='mt-15'>
      <div class='flex flex-col items-center gap-2'>
        <h3 class='text-3xl lg:text-4xl'>Código de vestuario</h3>
        <h4 class='text-2xl'>Elegante</h4>
      </div>
    </section>
    <section slot='content' class='mb-15'>
      <div class='flex flex-col items-center gap-4'>
        <p class='text-center text-md'>Colores reservados para los novios</p>
        <div class='grid grid-cols-3 gap-2'>
          <ColorDots color='--reserved-color1' label='Café claro' />
          <ColorDots color='--reserved-color2' label='Beige' />
          <ColorDots color='--color-accent' label='Blanco' />
        </div>
        <Button
          client:only
          variant='secondary'
          label='Ver detalles'
          route='/dress-code'
        />
      </div>
    </section>
  </LargeArticle>

  <SplitArticle id='event-rules'>
    <section
      class='w-1/2 hidden lg:flex justify-center items-center'
      slot='left'
    >
      <Photo
        src='/assets/home/event-rules-image.png'
        alt='Event Rules Image'
        class='w-full h-full rounded-sm shadow-sm'
      />
    </section>
    <section class='w-full lg:w-1/2 flex flex-col gap-8' slot='right'>
      <h2 class='text-5xl'>Antes del sí, recuerda</h2>
      <Photo
        src='/assets/home/event-rules-image.png'
        alt='Event Rules Image'
        class='block lg:hidden h-full'
      />
      <ul class='list-disc list-inside lg:text-justify leading-7 lg:leading-10'>
        <li>Respetar el código de vestuario, colores reservados son exclusivos para los novios.</li>
        <li>Llegar a tiempo, 15 minutos como mínimo.</li>
        <li>No traer alimentos ni bebidas.</li>
        <li>
          Confirma tu asistencia, solo para ti, antes de la fecha indicada.
        </li>
        <li>No cambiar lugares ni asientos el día del evento.</li>
        <li>Regalos: <b>Lluvia de sobres.</b></li>
      </ul>
    </section>
  </SplitArticle>

  <SplitArticle id='contact-us' theme='secondary'>
    <section class='w-full lg:w-1/2' slot='left'>
      <div class='flex flex-col gap-4 lg:mt-16'>
        <h2 class='text-5xl'>Escríbenos</h2>
        <p class='leading-6'>
          Queremos que disfrutes este día especial tanto como nosotros.<br /> Si necesitas
          más detalles o tienes alguna inquietud, no dudes en contactarnos.
        </p>
        <div class='flex gap-4'>
          <Button
            label='Escribir a Andrés'
            route='https://wa.me/3168219263'
            variant='secondary'
            target='_blank'
          />
          <Button
            label='Escribir a Valen'
            route='https://wa.me/3053237712'
            variant='secondary'
            target='_blank'
          />
        </div>
      </div>
    </section>
    <section
      class='w-full h-[350px] lg:w-1/2 hidden lg:flex gap-2'
      slot='right'
    >
      <Photo
        src='/assets/home/lake-3.jpeg'
        alt='Nuestra Historia - Andrés y Valentina'
        class='h-full'
      />
      <Photo
        src='/assets/home/lake-1.jpeg'
        alt='Nuestra Historia - Andrés y Valentina'
        class='lg:hidden xl:block h-full'
      />
    </section>
  </SplitArticle>
</MainLayout>

<style>
  #gifts {
    background-color: var(--color-primary);
    color: var(--color-accent);
  }

  ul {
    list-style: none;
  }

  ul li:before {
    content: '✓';
    margin-right: 8px;
    font-weight: bold;
  }
</style>
