---
import LargeArticle from '../components/LargeArticle.astro'
import PhotoGallery from '../components/PhotoGallery.astro'
import BaseLayout from '../layouts/BaseLayout.astro'

// Cargar dinámicamente todas las imágenes de la carpeta our-story
const imageFiles = import.meta.glob('/public/assets/our-story/*.{jpg,jpeg,png,gif,webp}', { eager: true })
const images = Object.keys(imageFiles).map((path) => path.replace('/public', ''))
---

<BaseLayout pageTitle='Nuestra Historia'>
  <LargeArticle id='first-sight' role='section'>
    <h2 class='text-3xl lg:text-4xl' slot='title'>
      ¿Amor a primera vista?
    </h2>
    <p class='text-justify leading-6 mt-4 mb-8' slot='content'>
      Pues no, nos conocimos en la pastoral juvenil del Colegio La Salle. Valen
      estudiaba en un colegio ubicado a pocos metros de Andrés y, en cada
      encuentro de la pastoral, participabamos de actividades sin ser
      conscientes el uno del otro. Fue allí donde nuestras historias se cruzaron
      por primera vez. Aunque en ese momento Valen decía que nunca pasaría algo
      entre nosotros, Dios ya estaba escribiendo una historia distinta. Con el
      tiempo comenzamos a salir, a conocernos como amigos y luego como novios,
      acompañandonos desde entonces en cada etapa de crecimiento personal,
      profesional y espiritual.
    </p>
  </LargeArticle>
  <LargeArticle id='walking-with-god' role='section'>
    <h2 class='text-3xl lg:text-4xl' slot='title'>Caminando con Dios</h2>
    <p class='text-justify leading-6 mt-4 mb-8' slot='content'>
      Al inicio, nuestro camino de fe no fue fácil, experimentamos varios
      momentos de oposición, especialmente cuando empezamos a asistir juntos a
      la iglesia cristiana. Sin embargo, con el paso del tiempo, Dios fue
      obrando con paciencia y amor entre nosotros y nuestras familias. A medida
      que nos acercamos más a Dios, se fortaleció nuestra relación, y así, entre
      pruebas, aprendizaje y fe, Dios nos fue formando y preparando para el
      propósito maravilloso que tenía para nosotros. Hoy, después de siete años
      de noviazgo, estamos emocionados de dar el gran paso hacia el matrimonio,
      confiando plenamente en que Dios nos guiará en esta nueva etapa de
      nuestras vidas.
    </p>
  </LargeArticle>
  <LargeArticle id='way-to-yes' role='section'>
    <h2 class='text-3xl lg:text-4xl' slot='title'>De camino al sí</h2>
    <p class='text-justify leading-6 mt-4 mb-8' slot='content'>
      A lo largo de los años contamos con el apoyo de personas especiales que
      Dios puso en nuestro camino y que fueron clave en nuestra formación como
      pareja. A través de ellas, el Señor nos enseñó, nos corrigió y nos
      sostuvo. Mirar atrás nos llena de gratitud al ver cómo Dios orquestó cada
      detalle para llevarnos hasta aquí. Hoy vemos como esos sueños de dos
      adolecentes se vuelven realidad mientras caminamos con paso firme hacia el
      día más importante de nuestras vidas, deseando compartir con ustedes el
      amor que Dios nos ha regalado.
    </p>
  </LargeArticle>
  <LargeArticle id='gallery' role='section' >
    <PhotoGallery
      slot='content'
      images={images}
    />
  </LargeArticle>
</BaseLayout>
