button{
    background-color: var(--color-secondary);
    color: var(--color-accent);
    border: none;
    padding: 10px 20px;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}