---

---

<div class='banner'>
  <div class='banner-content'>
    <h1 class='text-4xl font-bold'>Título principal de la pagina</h1>
    <p class='mt-4 text-lg max-w-xl mx-auto'>
      Subtítulo o descripción breve: Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Nesciunt vero maiores illo officiis sapiente reiciendis
    </p>
  </div>
</div>

<style>
  .banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: brightness(0.7);
  }

  .banner::before {
    content: '';
    position: absolute;
    inset: 0; /* top:0, right:0, bottom:0, left:0 */
    background-image: url('../assets/banner-background.png') ;
    background-size: cover;
    background-position: center;
    filter: brightness(0.6);
    z-index: 0;
  }
  .banner-content {
    position: relative;
    z-index: 1;
    text-align: center;
  }
</style>
