---
import '../styles/variables.css'
import Button from './ui/Button'
---

<article
  id='event-details'
  class='h-dvh gap-8 relative flex justify-center items-center z-0'
>
  <section
    class='px-12 rounded-sm shadow-xl flex flex-col justify-center gap-6 w-fit h-2/3'
  >
    <h2 class='text-4xl font-semibold'>Locación</h2>
    <div>
      <h3 class='text-2xl font-semibold mb-2'>Chuscalito Sabores y Celebraciones</h3>
      <p class='text-lg mb-6 leading-8'>
        Av. Las Palmas Km 7 - El Poblado<br />
        Medellín, Antioquia
      </p>
      <Button
        label='Ver en Google Maps'
        route='https://maps.app.goo.gl/46XrVaSC6EZFWrn7A'
        target='_blank'
      />
    </div>
  </section>
  <section class='rounded-sm shadow-xl w-1/2 h-2/3 px-12 flex flex-col justify-center gap-6'>
    <h2 class='text-4xl font-semibold mb-6'>Acompañanos en cada momento</h2>
     <ul class='list-disc list-inside text-lg leading-8'>
        <li>5:00 P.M. - Ceremonia</li>
        <li>6:00 P.M. - Cóctel y fotos</li>
        <li>7:00 P.M. - Cena y celebración</li>
        <li>11:00 P.M. - Despedida</li>
      </ul>
  </section>
</article>

<style>
  article {
    color: var(--color-text);
  }

  #event-details::before {
    content: '';
    position: absolute;
    inset: 0; /* top:0, right:0, bottom:0, left:0 */
    background-image: url('/assets/event-details-bg.png');
    background-size: cover;
    background-position: center;
    filter: brightness(0.8);
    z-index: 0;
  }

  #event-details section {
    z-index: 1;
    background-color: var(--color-accent);
  }
</style>
