---
import '../styles/variables.css'
---

<article
  id='event-details'
  class='h-dvh gap-8 relative flex justify-center items-center z-0'
>
  <section
    class='px-12 rounded-sm shadow-xl flex flex-col justify-center item gap-6 w-fit h-2/3'
  >
    <h2 class='text-3xl font-semibold'>Acompañanos en cada momento</h2>
    <div>
      <h3 class='text-2xl font-semibold mb-2'>Lugar</h3>
      <p class='text-lg mb-6 leading-8'>
        Chuscalito Sabores y Celebraciones<br />
        Av. Las Palmas Km 7 - El Poblado<br />
        Medellín, Antioquia
      </p>
      <h3 class='text-2xl font-semibold mb-2'>Minuto a minuto</h3>
      <ul class='list-disc list-inside text-lg leading-8'>
        <li>5:00 P.M. - Ceremonia</li>
        <li>6:00 P.M. - Cóctel y fotos</li>
        <li>7:00 P.M. - Cena y celebración</li>
        <li>11:00 P.M. - Despedida</li>
      </ul>
    </div>
  </section>
  <section class='rounded-sm shadow-xl w-1/2 h-2/3'>
    <iframe
      class='rounded-sm shadow-xl'
      src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.3635252358436!2d-75.5525986!3d6.2156975999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442822e989b55d%3A0x10cb33ea47f85409!2sChuscalito%20Sabores%20y%20Celebraci%C3%B3n!5e0!3m2!1ses!2sco!4v1762195634865!5m2!1ses!2sco'
      style='border:0;'
      width='100%'
      height='100%'
      allowfullscreen=''
      loading='lazy'
      referrerpolicy='no-referrer-when-downgrade'></iframe>
  </section>
</article>

<style>
  article {
    color: var(--color-text);
  }

  #event-details::before {
    content: '';
    position: absolute;
    inset: 0; /* top:0, right:0, bottom:0, left:0 */
    background-image: url('/assets/event-details-bg.png');
    background-size: cover;
    background-position: center;
    filter: brightness(0.8);
    z-index: 0;
  }

  #event-details section {
    z-index: 1;
    background-color: var(--color-accent);
  }
</style>
