---
import Button from './ui/Button'
import Icon from './ui/Icon.astro'

import '../styles/variables.css'
---

<article
  id='event-details'
  class='lg:h-dvh relative z-0 flex justify-center items-center max-md:py-15 max-md:px-10'
>
  <div class='z-1 w-full h-fit gap-8 flex justify-center items-center  max-md:flex-col '>
    <section
      class='p-10 lg:p-12 rounded-sm shadow-xl flex flex-col justify-start gap-3 lg:gap-6 w-fit'
      style={{
        height: '-webkit-fill-available'
      }}
    >
      <h2 class='text-3xl lg:text-4xl font-semibold'>Locación</h2>
      <div>
        <h3 class='text-xl lg:text-2xl font-semibold mb-2'>
          Chuscalito Sabores y Celebraciones
        </h3>
        <p class='text-md lg:text-lg mb-6 leading-8'>
          Av. Las Palmas Km 7 - El Poblado<br />
          Medellín, Antioquia
        </p>
        <Button
          label='Ver en Google Maps'
          route='https://maps.app.goo.gl/46XrVaSC6EZFWrn7A'
          target='_blank'
        />
      </div>
    </section>
    <section
      class='rounded-sm shadow-xl w-full lg:w-1/2 p-10 lg:p-12 flex flex-col justify-start gap-6'
      style={{
        height: '-webkit-fill-available'
      }}
    >
      <h2 class='text-3xl lg:text-4xl font-semibold mb-2 lg:mb-6 lg:text-center'>
        Acompañanos en cada momento
      </h2>
      <div class='flex gap-6 lg:gap-10 justify-center flex-wrap'>
        <Icon name='Ceremonia' description='5:00 P.M.' iconName='rings' />
        <Icon name='Coctel' description='6:00 P.M.' iconName='cheers' />
        <Icon name='Cena' description='7:00 P.M.' iconName='dinner' />
        <Icon name='Fiesta' description='7:30 P.M.' iconName='party' />
        <Icon
          name='Despedida'
          description='11:00 P.M.'
          iconName='wedding-sign'
        />
      </div>
    </section>
  </div>
</article>

<style>
  article {
    color: var(--color-text);
  }

  #event-details::before {
    content: '';
    position: absolute;
    inset: 0; /* top:0, right:0, bottom:0, left:0 */
    background-image: url('/assets/event-details-bg.png');
    background-size: cover;
    background-position: center;
    filter: brightness(0.8);
    z-index: 0;
  }

  #event-details section {
    z-index: 1;
    background-color: var(--color-accent);
  }
</style>
