---

---

<footer class='flex flex-col lg:flex-row gap-6 lg:gap-16 p-10 lg:p-16 text-white'>
  <div class='flex-1'>
    <h3 class='text-2xl font-bold'>Andrés & Valentina</h3>
    <h4 class='text-xl'>Nuestra boda</h4>
    <p>1 Corintios 13:4-7</p>
  </div>
  <div>
    <h3 class='text-xl font-bold'>Te esperamos</h3>
    <p>27 de Junio de 2026</p>
    <p>5:00 PM</p>
  </div>
  <div>
    <h3 class='text-xl font-bold'>Lugar</h3>
    <p>Chuscalito Sabores y Celebraciones</p>
    <p>Medellín, Antioquia</p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-text);
  }
</style>
