---
type Props = {
  id?: string
  theme?: 'primary' | 'secondary'
  variant?: 'full' | 'fit'
}

const { id, theme, variant = 'full' } = Astro.props
---

<article
  id={id}
  class={`flex flex-col items-center justify-center mx-auto px-10 lg:px-35 ${theme === 'secondary' ? 'secondary' : 'primary'} ${variant === 'full' ? 'lg:h-dvh py-20 lg:py-0 ' : 'h-fit p-10 lg:py-12 lg:my-12'}`}
>
  <slot name='heading' />
  <section class='flex flex-col lg:flex-row gap-24 w-full'>
    <slot name='left' />
    <slot name='right' />
  </section>
</article>

<style>
  article.primary {
    color: var(--color-text);
  }

  article.secondary {
    color: var(--color-accent);
    background-color: var(--color-primary);
  }
</style>
