---
import Button from "../atoms/Button";


---

<article id='contact-us' class='p-8 max-w-6xl mx-auto flex gap-8'>
  <section class="max-w-1/2">
    <h2 class='text-3xl font-bold'>Contactanos</h2>
    <p>
      Queremos que disfrutes este día especial tanto como nosotros. Si necesitas
      más detalles o tienes alguna inquietud, Escribenos.
    </p>
  </section>
  <section>
    <Button 
      label='Contactar a Andrés'
      route='https://wa.me/3168219263'
    />
    <Button 
      label='Contactar a Valentina'
      route='https://wa.me/3053237712'
    />
  </section>
</article>
