---
import '../styles/variables.css'
---

<article id='event-rules' class='p-8 flex gap-8 max-w-6xl mx-auto'>
  <section>
    <img
      src='src/assets/image.png'
      alt='Event Rules Image'
      class='w-80 h-80 mt-4 rounded-sm shadow-sm object-cover'
    />
  </section>
  <section>
    <h2 class='text-3xl font-bold mb-4'>Event Rules</h2>
    <ul class='list-disc list-inside'>
      <li>Please RSVP by May 15, 2024.</li>
      <li>Formal attire is required for the ceremony and reception.</li>
      <li>No outside food or drinks allowed at the venue.</li>
      <li>Please respect the venue's smoking policy.</li>
      <li>Children under 12 are not permitted at the event.</li>
      <li>
        Please arrive at least 15 minutes before the scheduled start time.
      </li>
    </ul>
  </section>
</article>
