---
import Button from '../atoms/Button'

import '../styles/variables.css'


const handleDressCodeClick = () => {
  console.log('Código de vestuario')
}

---

<article id='event-rules' class='p-8 flex gap-8 max-w-6xl mx-auto'>
  <section>
    <img
      src='/assets/event-rules-image.png'
      alt='Event Rules Image'
      class='w-80 h-80 mt-4 rounded-sm shadow-sm object-cover'
    />
  </section>
  <section>
    <h2 class='text-3xl font-bold mb-4'>Algunos detalles importantes</h2>
    <ul class='list-disc list-inside'>
      <li>Respetar el código de vestuario, colores reservados.</li>
      <li>Llegar a tiempo, 15 min como minimo.</li>
      <li>No traer alimentos ni bebidas.</li>
      <li>Confirma tu asistencia, solo para ti, antes de la fecha indicada.</li>
      <li>No cambiar lugares ni asientos el día del evento.</li>
    </ul>
    <Button
      label='Conoce el código de vestuario'
      onClick={handleDressCodeClick}
    />
  </section>
</article>
<article
  id='gifts'
  class='p-8 flex gap-8 w-full mx-auto flex-col items-center justify-center'
>
  <h2 class='text-3xl font-bold'>Regalos</h2>
  <p>Lluvia de sobres</p>
</article>

<style>
  #gifts {
    background-color: var(--color-primary);
    color: var(--color-accent);
  }
</style>
