---

---

<article id='our-story' class='p-8 flex flex-row gap-8 max-w-6xl mx-auto'>
  <section>
    <h2 class='text-3xl font-bold mb-4'>Our Story</h2>
    <p>
      From the moment we met, our journey has been filled with love, laughter,
      and unforgettable memories. Join us as we celebrate the next chapter of
      our story together.
    </p>
  </section>
  <section>
    <img src="src/assets/our-story-image.png" alt="Our Story Image" class="w-full h-auto mt-4 rounded-md shadow-sm" />
  </section>
</article>
