---
import Button from '../atoms/Button'
import { ArrowIcon } from '../atoms/Icons'
---

<article id='our-story' class='p-12 flex flex-row gap-8 max-w-6xl mx-auto'>
  <section class='max-w-1/2'>
    <h2 class='text-3xl font-bold mb-4'>Nuestra Historia</h2>
    <p class='text-justify mb-4'>
      Hace siete años, nuestros corazones se encontraron y, sin saberlo, comenzó
      la más hermosa de las aventuras. Desde entonces, hemos compartido risas,
      sueños, viajes y mil pequeñas historias que nos unieron cada día más.
      Entre momentos simples y memorables, aprendimos que el amor se construye
      con paciencia, complicidad y ternura. Hoy, mirando atrás, vemos un
      recorrido lleno de bendiciones y promesas cumplidas. Cada paso nos ha
      llevado hasta este instante, donde decimos “sí” al proposito de Dios para
      nosotros. Esta historia está escrita con cariño, detalles y destino.
    </p>
    <Button
      client:load
      label='Descubre cómo empezó todo'
      route='/our-story'
    />
  </section>
  <section>
    <img
      src='/assets/about-us-image.png'
      alt='Nuestra Historia - Andrés y Valentina'
      class='w-full h-full rounded-sm shadow-sm'
    />
  </section>
</article>
