---
type Props = {
  color?: string
}

const { color = 'white' } = Astro.props
---

<p id='logo' class={`text-${color} text-2xl`}>
  <span class="text-4xl">A</span> & <span class="text-4xl">V</span>
</p>
